body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.containGeneral {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain {
  width: 50%;
  border: 1px solid #ccc;
  padding: 1.3em 2em 1em 2em;
  border-radius: 1em;
  position: relative;
}

.absoluteTitle {
  position: absolute;
  top: -14px;
  left: 20px;
  background-color: white;
  font-size: 18px;
  padding: 0 5px;
}

.formContain {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.fixedNavBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.positionBoxes {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  margin: 3em auto;
  flex-wrap: wrap;
  gap: 1em;

}

.biggerButtons {
  display: flex;
  justify-content: space-around;
  padding: 30px !important;
  gap: 1em;
  font-size: 26px !important;
}

.biggerButtons svg{
  font-size: 26px !important;
}